.header-style {
  margin: 1rem;
  align-self: center;
}

.work-container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-details-style {
  display: flex;
  justify-content: space-around;
}

.field-style {
  width: 20%;
}

.value-style {
  width: 60%;
}