.footer-container {
  background-color: #10142c ;
  color: white;
  margin: 0;
  padding-bottom: 1rem;

  .social-media-container-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .social-media-container-footer::before,
  .social-media-container-footer::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
    margin: 0 1rem;
  }

  .social-media-style-footer {
    height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @media screen and (max-width: 640px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.body-container-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 2rem 15rem 1rem 15rem;

  @media screen and (max-width: 1024px) {
    padding: 1rem 5rem 1rem 5rem;
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
  }

  .first-column {
    padding-right: 10%;
    display: flex;
    flex-direction: column;
  }

  .second-column {
    padding-right: 0;
    display: flex;
    flex-direction: column;

    .links-style {
      display: flex;
      flex-direction: column;
      text-align: left;

      @media screen and (max-width: 640px) {
        margin-top: 2rem;
      }

      .links-wrapper {
        display: flex;
        flex-wrap: wrap;
      }

      .h5 {
        width: 50%;
        box-sizing: border-box;
        margin-bottom: 1rem;
      }

      a {
        font-size: 1rem;
        color: white;
        vertical-align: top;
      }
    }
  }
}

.conclusion-style {
  display: block;
  text-align: center;
}
