.header-style {
  margin: 1rem;
  align-self: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.univ-details-style {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 400;
}

.field-style {
  width: 20%;
  font-weight: 600;

  @media screen and (max-width: 1024px) {
    font-size: 1.2rem;
  }
}

.value-style {
  width: 60%;

  @media screen and (max-width: 1024px) {
    font-size: 1.2rem;
  }
}

.transcript-style {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
  cursor: pointer;
  color: blue;
}
