.skills-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.header-style {
  padding: 2rem 0 2rem 0;
  align-self: center;
}

.skills-style {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 2%;
}

.image-style-skill {
  height: 8rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1%;

  @media screen and (max-width: 1024px) {
    height: 6rem;
    width: 6rem;
  }

  @media screen and (max-width: 640px) {
    height: 4rem;
    width: 4rem;
  }
}