.header-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .home-button {
    display: flex;
    align-items: center;
  }
}

.logo-size {
  width: 3.125rem;
  height: auto;
}

.logo-font-style {
  font-size: 100px;
}

.menu-items {
  display: flex;
  align-items: baseline;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;

  a {
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    color: black;
  }

  a.active {
    font-size: larger;
    font-weight: bold;
    color: #0500ff;
    text-decoration: underline;
  }

  @media screen and (max-width: 1024px) {
    font-size: 1rem;
    a {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}

.nav-bar {
  display: relative;
  border: solid;
  width: 50px;
  height: 200px;
}

.navbar {
  background-color: #fff;
  border-style: solid;
  border-color: #707070;
  position: absolute;
  top: 7rem;
  right: 0;
  width: 75%;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.navbar.opened {
  transform: translateX(0);
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.navbar li {
  padding: 1rem 0 1rem 0;
  border-bottom-style: solid;
  border-bottom-color: #707070;
}

.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
}