.header-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .home-button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .logo-size {
    width: 40px;
    height: 40px;
  }

  .article {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .padding-left {
    padding-left: 10px;
  }

  .navbar-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 6.5rem;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
  }

  .navbar {
    display: none;
  }

  .navbar.opened {
    display: flex;
    flex-direction: column;
  }

  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .navbar li {
    padding: 1rem 0;
    width: 100%;
  }

  .navbar li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
  }

  .menu-items {
    display: flex;
    align-items: baseline;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;

    a {
      margin-right: 1rem;
      margin-left: 1rem;
      text-decoration: none;
      color: black;
    }

    @media screen and (max-width: 1024px) {
      font-size: 1.2rem;
      a {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
    }
  }
  
  a.active {
    font-size: 2rem;
    font-weight: bold;
    color: blue;

    @media screen and (max-width: 1024px) {
      font-size: 1.5rem;
    }
  }
}
