.slider-box {
  margin: 0rem 7rem 5rem 7rem;
  @media screen and (max-width: 992px) {
    margin: 0rem 1rem 5rem 1rem;
    padding: 2rem;
  }
}

.header-style {
  padding: 2rem 0 2rem 0;
  @media screen and (max-width: 992px) {
    padding: 1rem 0 0 0;
  }
  align-self: center;
}

.slides-container {
  height: 26rem;
  padding: 0 5% 0 2%;
  text-align: center;
  border-style: solid;
  border-color: blue;
  border-radius: 1rem;
  border-width: 0.25rem 0.125rem 0.25rem 0.125rem;

  @media screen and (max-width: 1280px) {
    height: 32rem;
  }

  @media screen and (max-width: 992px) {
    height: 34rem;
  }

  @media screen and (max-width: 800px) {
    height: 28rem;
  }

  @media screen and (max-width: 672px) {
    height: 32rem;
  }

  @media screen and (max-width: 480px) {
    height: 38rem;
  }

  @media screen and (max-width: 400px) {
    height: 42rem;
  }

  .card-header-row {
    border-top: 1rem solid transparent;
    height: 2rem;
    vertical-align: middle;
  }

  .card-tools-row {
    height: 4rem;
  }

  .button-style {
    margin: 1rem 0 1rem 0;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.pagination-button-style {
  width: 15rem;
  margin: 2rem 2rem 0 2rem;
  @media screen and (max-width: 768px) {
    margin: 2rem 1rem 0 1rem;
    width: fit-content;
  }
  padding: 0.5rem;
  a {
    text-decoration: none;
  }
}
