.header-style {
  margin: 1rem;
  align-self: center;
}

.projects-container {
  /* border: 1px solid #000; */
  margin-left: 20%;
  margin-right: 20%;

  @media screen and (max-width: 768px) {
    margin-left: 10%;
    margin-right: 10%;
  }

  @media screen and (max-width: 512px) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.project-card {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding-bottom: 10rem;

  @media screen and (max-width: 1024px) {
    padding-bottom: 7.5rem;
  }

  .project-description {
    margin-top: 2%;
    text-align: left;

    @media screen and (max-width: 1024px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 512px) {
      font-size: 1rem;
    }
  }

  .project-tools {
    @media screen and (max-width: 1024px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 512px) {
      font-size: 1rem;
    }
  }
}

.github-button-style {
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  width: 50%;
  font-family: "Alegreya SC", serif;
  color: black;
  font-weight: bold;
  font-size: larger;

  @media screen and (max-width: 512px) {
    font-size: 1rem;
  }
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
}

.box1 {
  margin-top: -10vh;
  width: 25%;
  border: solid 1px black;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  @media screen and (max-width: 1024px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 768px) {
    width: 30%;
  }
}

.arrow {
  cursor: pointer;
  margin-top: -2.75vh;
}

.clicked {
  background-color: blue;
}

.not-clicked {
  background-color: white;
}
